*{
   Background-color: #cbababcd;
   margin: 5px;
   padding: 5px;
   color: rgb(7, 2, 2);
}

.list{
   background-color: rgb(189, 173, 173);
   text-align: center;
   padding: 5px;
   
}
.list li{
   display: inline;
   list-style-type: none;
}
.list li a{
   text-decoration: none;
   padding: 0px 10px;
   font-size: 30px;
}
.list .btn{
   color: rgb(172, 93, 19);
   padding: 5px 10px;
   border-radius: 5px;
}
.list .btn:hover{
   background-color: rgb(10, 249, 10);
   color: white;
}
.container{
   display: inline-block;
   img {
      width: 250px;
      height: 250px;
      background-color: rgb(117, 32, 32);
      text-align: center;
   }
}
.class{
   text-align: center;
   padding: 30px;
   display: inline-block;
   font-size: 30px;
   color: white;

}
#product{
   text-align: center;
   padding: 30px;
   display: inline-block;
   font-size: 30px;
   color: white;
}
.class{
   color: rgb(7, 2, 2);
   text-align: center;
   padding: 30px;
}
#imgsrc{
   width: 250px;
   height: 250px;
   background-color: rgb(200, 40, 40);
   text-align: center;
   background-color: rgb(red, green, blue);
}

   